* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.container,
main {
    height: 100%;
}

header,
main,
aside,
footer {
    display: inline-block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    background: #383847;
}

.nav-link {
    font-size: 12px;
}

.nav-item {
    color: #787c95;
    cursor: pointer;
    display: block;
    padding: 14px 0;
    position: relative;
}

.nav-icon,
.nav-text {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.nav-icon {
    font-size: 15px;
    padding: 3px 8px;
}

.nav-icon-counter {
    background: #7d829c;
    border-radius: 5px;
    color: #f8f6fa;
    padding: 6px 3px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-align: center;
    width: 20px;
}

.icon-right {
    float: right;
}

aside {
    background-color: #21212b;
    display: inline-block;
    height: 100%;
    overflow-y: auto;
    width: 275px;
}

.sidenav {
    padding: 15px;
}

.sub-menu-header {
    color: #787c95;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 0;
}

.sub-menu-header:hover {
    background: #3e3e52;
    border-radius: 4px;
    color: #bc97f1;
}

.sub-menu-content {
    background: var(--fade-blue);
    border-radius: 4px;
    z-index: 100;
}

.sub-menu-content .nav-item {
    padding: 14px;
}

.sidenav .nav-item:hover {
    background: #3e3e52;
    border-radius: 4px;
    color: #bc97f1;
}

.sidenav .active {
    color: #d238eb !important;
}